@font-face {
  font-family: "Josefin Sans";
  src: url(./assets/JosefinSans-VariableFont_wght.ttf) format("truetype");
  font-weight: 100 700;
  font-display: swap;
}

@font-face {
  font-family: "Bagnard";
  src: url(./assets/Bagnard.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(./assets/AtkinsonHyperlegible-Regular.ttf) format("truetype");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(./assets/AtkinsonHyperlegible-Bold.ttf) format("truetype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(./assets/AtkinsonHyperlegible-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

:root {
  font-family: "Josefin Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.15;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-on-background));

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-background: 255, 255, 255;
  --color-on-background: 0, 0, 0;
  --color-surface: 255, 255, 255;
  --color-on-surface: 0, 0, 0;
  --color-surface-shadow: var(--color-on-background);
  --color-hover-surface-shadow: var(--color-primary);
  --surface-shadow-intensity: 0;
  --surface-hover-shadow-intensity: 0.6;
  --color-primary: 50, 105, 255;
  --color-on-primary: 0, 0, 0;
  --color-important: 255, 50, 105;
}

body {
  margin: 0;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: 8, 8, 8;
    --color-on-background: 255, 255, 255;
    --color-surface: 10, 14, 20;
    --color-on-surface: 255, 255, 255;
    --surface-shadow-intensity: 0;
    --surface-hover-shadow-intensity: 0.4;
    --color-primary: 100, 155, 255;
    --color-on-primary: 255, 255, 255;
    --color-important: 255, 82, 111;
  }
}
